.pagination .page-link {
    background-color: transparent !important;
    border: none !important;
    box-shadow: none !important;
    outline: none !important;
}
.pagination .page-item.disabled .page-link {
    background-color: transparent !important;
    opacity: 0.3;
}
.pagination .page-link:focus, .pagination .page-link:active {
    background-color: transparent !important;
    box-shadow: none !important;
}
.pagination .page-item.active .page-link {
    background-color: var(--bs-primary) !important;
    color: white !important;
    border-radius: 50% !important;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}
