// LOGO-size
.w-240 {
  width: 240px;
}

.h-62 {
  height: 62px;
}

.search-bar {
  position: relative;
  .search {   
    margin-left: 12px;
    }

  .search-btn {
    margin-right: 8px;
    position: absolute;
    left: 0;
  }
}

.nav-link {
    color: $primary;

    &:hover {
      color: white;
      background-color: $primary;
      
    }
}

.loggin-btn {
  width: 100%;
  font-size: 14px;
}


@media (max-width: 768px) {
  .nav-link {
  width: 100%;
  font-size: 10px;
  }
}


@media (max-width: 568px) {
  .navbar {
    padding: 0px;
  }


  .loggin-btn {
      width: 100%;
      font-size: 14px;
  }
}


// @media (max-width: 375px) {
//      .loggin-btn {
//           width: 100%;
//           font-size: 14px;
//           padding: 12px 24px;
//      }
// }
