@import 'bootstrap/scss/functions';
@import 'variables';
@import 'bootstrap/scss/bootstrap';
@import '../assets/navbar.scss';
@import '../assets/swiper-component.scss';

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans TC", sans-serif;
  line-height: 1.2;
  letter-spacing: 2px;
}

.container {
  width: 1296px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: $secondary;

  &:hover {
    color: darken($secondary, 10%);
  }
}

h1 {
  letter-spacing: 5px;
}

.btn-border-primary {
  background-color: white;
  border: $primary;
  color: $primary;

  &:hover {
    background-color: $primary;
    color: white;
  }
}
