@import 'bootstrap/scss/functions';
@import 'variables';
@import 'bootstrap/scss/bootstrap';
@import '../assets/navbar.scss';
@import '../assets/swiper-component.scss';

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans TC", sans-serif;
  line-height: 1.2;
  letter-spacing: 2px;
}

.container {
  width: 1296px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: $secondary;

  &:hover {
    color: darken($secondary, 10%);
  }
}

h1 {
  letter-spacing: 5px;
}

.p-120 {
  padding-top: 120px;
  padding-bottom: 120px;
}

.btn-border-primary {
  background-color: white;
  border: $primary;
  color: $primary;

  &:hover {
    background-color: $primary;
    color: white;
  }
}


h2 {
  position: relative; /* 為偽元素定位提供基準 */
  display: flex;
  justify-content: start;
}

h2::before{
  content: '';
  position: absolute;
  flex-grow: 1; /* 佔滿剩餘空間 */
  width: 100%; /* 線條寬度 */
  height: 1px; /* 線條高度 (粗細) */
  background-color: $blue-100;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  z-index: 0; /* 確保線條在文字後面 */
}

.title-line{
  font-size: 40px;
  background-color: $blue-900;
  z-index: 1;
  padding-right: 20px;
}

